.venv/
__pycache__/
src/thor/__pycache__/*
*.py[cod]
.pytest_cache/
*.pyc

.vscode/*
cache*

# Downloaded files
*.tar
datasets/
encoded_models*/
finetuned_models/
keys/
resources/

# Jupyter Notebook
.ipynb_checkpoints